

@model List<Departamento>

    <h1>
        Departamentos CRUD EF
    </h1>
    <hr/>
         <a asp-controller="Departamentos"
                            asp-action="Create"
                            
                            class="btn btn-outline-info">
                        Create New Departamentos
                    </a>

    <hr />
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Localidad</th>
                <th></th>
                <th></th>   
                <th></th>
            </tr>

        </thead>
        <tbody>
            @foreach(Departamento dept in Model)
            {
                <tr>
                    <td>
                        @dept.Nombre
                    </td>
                    <td>
                        @dept.Localidad
                    </td>
                    <td>
                        <a asp-controller="Departamentos"
                            asp-action="Details"
                            asp-route-iddepartamento="@dept.IdDepartamento"
                            class="btn btn-outline-info">
                        Details
                    </a>
                    </td>
                     <td>
                        <a asp-controller="Departamentos"
                            asp-action="Edit"
                            asp-route-iddepartamento="@dept.IdDepartamento"
                            class="btn btn-outline-warning">
                        Edit
                         </a>
                    </td>
                    <td>
                        <a asp-controller="Departamentos"
                       asp-action="Delete"
                       asp-route-iddepartamento="@dept.IdDepartamento"
                       class="btn btn-outline-danger">
                            Delete
                        </a>
                    </td>
                </tr>
            }

        </tbody>

    </table>